/* general positioning styles */
.left, .center, .right{
    display: inline-block;
    min-width:31%;
}
    .left{
        text-align:left;
    }
    .center{
        text-align:center;
    }
    .right{
        text-align:right;
    }
body{
    background:url("./img/wallpaper.png");
    background-repeat: repeat;
    color:#3E3832;
}
#content{
    width:80%;
    max-width:960px;
    margin:0 auto;
}
    #menuWrapper{
        height:50px;
        background-color:#267E1C;
        color:#fff;
        padding: 10px 25px;
    }
    #header{
        /*height:300px;*/
        background:url('./img/dons-banner.jpg');
        background-size:cover;
    }
        /*#header #headerBanner{
            width:100%;
        }*/
            #header #donMascot{
                max-width:75%;
                display:inline-block;
                max-height: 600px;
                margin-bottom:-23px;
            }
    #main{
        background-color:transparent;
        padding: 5px 25px;
        /*position:relative;*/
    }
        .tabsy > .tabButton{
           /* position: absolute;
            top:-1px;
            z-index:3;*/
            height:32px;
            background:transparent;
            color:#fff;
            padding:13px 10px 5px 10px;
        }
            .tabsy > input:checked + label{
                color:#3E3832;
                background-color:#fff;
            }
        .tabsy > .tab{
            /*position: absolute;
            z-index:2;
            left:0;
            top:0;*/
            width:100%;
            /*border-top:50px solid #267E1C;*/
            background-color:transparent;
        }
            .content{
                width:90%;
                margin:20px auto;
            }
        .tab2Button{
            left:125px;
        }
        .tab3Button{
            left:200px;
        }
        .menuSection{
            display:flex;
            flex-wrap:wrap;
            align-items: flex-start;
        }
            .menuItem{
                display:inline-block;
                max-width:200px;
                margin:10px auto;
                padding:10px;
                background-color:#fff;
            }
                .menuItem h3{
                    display:inline-block;
                    margin-right:6px;
                }
                .menuItem span{
                    display:inline-block;
                }
                .menuItem .menuImg{
                    width:200px;
                    height:200px;
                }
    #footer{
        background-color:#267E1C;
        min-height:50px;
        color:#fff;
        padding: 5px 25px;
        bottom:0;
        margin:0 auto;
    }